%section#nosprojets
	.container
		.row
			.col-xs-12.col-md-8.col-md-offset-2.page_title
				%h2 DES ACTIONS ARTISTIQUES, DES RÉSULTATS SOLIDAIRES
			.col-xs-6.col-xs-offset-3.col-sm-4.col-sm-offset-0.col-md-6.col-md-offset-0.photo_col
				%span
				= link_to image_tag("projets/mairie.jpg", :id => "projet_mairie", :class =>"img-responsive", :alt =>"mairie"), 'http://www.evenements.vuesdenbas.fr/exposition/?a=detailsExpo&expoID=5', :target => 'blank'
			.col-xs-6.col-xs-offset-3.col-sm-4.col-sm-offset-0.col-md-3.col-md-offset-0.photo_col
				%span
				= link_to image_tag("projets/emmaus.jpg", :id => "projet_emmaus", :class =>"img-responsive", :alt =>"emmaus"), 'http://www.evenements.vuesdenbas.fr/exposition/?a=detailsExpo&expoID=5', :target => 'blank'
			.col-xs-6.col-xs-offset-3.col-sm-4.col-sm-offset-0.col-md-3.col-md-offset-0.photo_col
				%span
				= link_to image_tag("projets/zebre.jpg", :id => "projet_zebre", :class =>"img-responsive", :alt =>"zebre"), 'https://www.flickr.com/photos/131669337@N08/sets/72157650777801513', :target => "blank"
			.col-xs-6.col-xs-offset-3.col-sm-4.col-sm-offset-0.col-md-3.col-md-offset-0.photo_col
				%span
				= link_to image_tag("projets/desidero.jpg", :id => "projet_desidero", :class =>"img-responsive", :alt =>"desidero"), 'http://www.evenements.vuesdenbas.fr/exposition/?a=detailsExpo&expoID=7', :target => "blank"
			.col-xs-6.col-xs-offset-3.col-sm-4.col-sm-offset-0.col-md-3.col-md-offset-0.photo_col
				%span
				= link_to image_tag("projets/200.jpg", :id => "projet_200", :class =>"img-responsive", :alt =>"200"), 'https://www.flickr.com/photos/131669337@N08/sets/72157653034972746', :target => "blank"
			.col-xs-6.col-xs-offset-3.col-sm-4.col-sm-offset-0.col-md-3.col-md-offset-0.photo_col
				%span
				= image_tag("projets/asuivre.jpg", :id => "projet_asuivre", :class =>"img-responsive", :alt =>"asuivre")