%section#nosprojets
	.container
		.row
			.col-xs-12.col-md-8.col-md-offset-2.page_title
				%h2 DES ACTIONS ARTISTIQUES, DES RÉSULTATS SOLIDAIRES
			.col-xs-12.col-sm-4.col-md-2.col-md-offset-1.photo_col
				%span.onscroll
				= image_tag("background/mairie.jpg", :class =>"img-responsive", :alt =>"mairie")
			.col-xs-12.col-sm-4.col-md-2.photo_col
				%span.onscroll
				= image_tag("background/emmaus.jpg", :class =>"img-responsive", :alt =>"emmaus")
			.col-xs-12.col-sm-4.col-md-2.photo_col
				%span.onscroll
				= image_tag("background/zebre.jpg", :class =>"img-responsive", :alt =>"zebre")
			.col-xs-12.col-sm-4.col-md-2.photo_col
				%span.onscroll
				= image_tag("background/104.jpg", :class =>"img-responsive", :alt =>"104")
			.col-xs-12.col-sm-4.col-md-2.photo_col
				%span.onscroll
				= image_tag("background/desidero.jpg", :class =>"img-responsive", :alt =>"desidero")
			.col-xs-12.col-sm-4.col-md-2.col-md-offset-1.photo_col
				%span.onscroll
				= image_tag("background/200.jpg", :class =>"img-responsive", :alt =>"200")
			.col-xs-12.col-sm-4.col-md-2.photo_col
				%span.onscroll
				= image_tag("background/asuivre.jpg", :class =>"img-responsive", :alt =>"asuivre")