%section#nosprojets
	.container
		.row
			.col-xs-8.col-xs-offset-2.page_title
				%h2 DES ACTIONS ARTISTIQUES, DES RÉSULTATS SOLIDAIRES
			.col-md-2
			.col-md-2.col-md-offset-1.photo_col
				%span.onscroll
				= image_tag("background/test_image.jpg", :class =>"test_image", :class =>"img-responsive", :alt =>"test_image")
			.col-md-2.photo_col
				%span.onscroll
				= image_tag("background/test_image.jpg", :class =>"test_image", :class =>"img-responsive", :alt =>"test_image")
			.col-md-2.photo_col
				%span.onscroll
				= image_tag("background/test_image.jpg", :class =>"test_image", :class =>"img-responsive", :alt =>"test_image")
			.col-md-2.photo_col
				%span.onscroll
				= image_tag("background/test_image.jpg", :class =>"test_image", :class =>"img-responsive", :alt =>"test_image")
			.col-md-2.photo_col
				%span.onscroll
				= image_tag("background/test_image.jpg", :class =>"test_image", :class =>"img-responsive", :alt =>"test_image")