%section#presse
	.container
		.row
			.col-xs-12.col-md-8.col-md-offset-2.page_title
				%h2 ILS EN PARLENT
				%p L'association Vues d'en Bas a besoin de soutien !
				%p Merci pour le partage !
			.col-xs-12.col-sm-4.col-md-2.col-md-offset-1.photo_col
				= image_tag("background/grazia.jpg", :class =>"img-responsive", :alt =>"grazia")
			.col-xs-12.col-sm-4.col-md-2.photo_col
				= image_tag("background/mariefrance.jpg", :class =>"img-responsive", :alt =>"mariefrance")
			.col-xs-12.col-sm-4.col-md-2.photo_col
				= image_tag("background/parisbouge.jpg", :class =>"img-responsive", :alt =>"parisbouge")
			.col-xs-12.col-sm-4.col-md-2.photo_col
				= image_tag("background/telerama.jpg", :class =>"img-responsive", :alt =>"telerama")
			.col-xs-12.col-sm-4.col-md-2.photo_col
				= image_tag("background/yahoo.jpg", :class =>"img-responsive", :alt =>"yahoo")
			.col-xs-12.col-md-10.col-md-offset-1#nous_remercions
				%p Nous remercions pour leur converture : Parisbouge.com, Yahoo Pour Elle, Télérama Sortir, Que Faire à Paris, Grazia et Marie France, Emmaüs...