%section#presse
	.container
		.row
			.col-xs-12.col-sm-8.col-sm-offset-2.page_title
				%h2 ILS EN PARLENT
				%p L'association Vues d'en Bas a besoin de soutien !
				%p Merci pour le partage !
			.col-xs-4.col-md-2.col-md-offset-1.photo_col
				%a{ :href => "http://www.grazia.fr/societe/phenomenes/galeries/vues-den-bas-lexpo-pour-alerter-sur-linvisibilite-des-personnes-sans-abri-662334"}
					= image_tag("presse/grazia.jpg", :class =>"img-responsive", :alt =>"grazia")
			.col-xs-4.col-md-2.photo_col
				%a{ :href => "http://www.mariefrance.fr/culture/expos/non-les-sdf-ne-sont-invisibles-expo-les-consacre-91067.html"}
					= image_tag("presse/mariefrance.jpg", :class =>"img-responsive", :alt =>"mariefrance")
			.col-xs-4.col-md-2.photo_col
				%a{ :href => "http://www.parisbouge.com/event/49536"}
					= image_tag("presse/parisbouge.jpg", :class =>"img-responsive", :alt =>"parisbouge")
			.col-xs-4.col-md-2.photo_col
				= image_tag("presse/telerama.jpg", :class =>"img-responsive", :alt =>"telerama")
			.col-xs-4.col-md-2.photo_col
				= image_tag("presse/yahoo.jpg", :class =>"img-responsive", :alt =>"yahoo")
			.col-xs-12.col-sm-8.col-sm-offset-2#nous_remercions
				%p Nous remercions pour leur couverture : Parisbouge.com, Yahoo Pour Elle, Télérama Sortir, Que Faire à Paris, Grazia et Marie France, Emmaüs...