%section
  .container
    .row
      .details_form
        = form_tag({controller: "donations", action: "create"}, method: "post") do
          .col-xs-12.col-md-6
            %h2 MON MONTANT
            .col-xs-12.col-md-10.col-md-offset-1.subscription_bloc
              .col-xs-1
                =image_tag("black_dot.png")
              .col-xs-11.jadhere_h3_col
                %h3.jadhere_h3 JE DONNE CHAQUE MOIS
                .subscription_bloc
                  = label_tag :subscription_amount, "5€"
                  = radio_button_tag :subscription_amount, 5
                  = label_tag :subscription_amount, "10€", :class => "amount_donation_radio_label"
                  = radio_button_tag :subscription_amount, 10
                  = label_tag :subscription_amount, "15€", :class => "amount_donation_radio_label"
                  = radio_button_tag :subscription_amount, 15
                  = label_tag :subscription_amount, "20€", :class => "amount_donation_radio_label"
                  = radio_button_tag :subscription_amount, 20
                .subscription_bloc
                  %span= label_tag :subscription_amount, "Montant libre"
                  %span= text_field_tag :subscription_amount, nil, :class => "donation_inputs", type: "number"
                  %span €/mois
                  %p.subscription_text En donnat chaque mois, je deviens membre et donateur de <strong>Vues d'en Bas</strong> et adhère à ses valeurs. Je recevrai ma carte de membre par courrier électronique.

              .between_sub_and_don

              .col-xs-1
                =image_tag("black_dot.png")
              .col-xs-11.jadhere_h3_col
                %h3.jadhere_h3 DONATION
                .subscription_bloc
                  %span= label_tag :donation_amount, "Montant libre"
                  %span= text_field_tag :donation_amount, nil, :class => "donation_inputs", type: "number"
                  %span €

              %p.subscription_text Mon soutien servira à soutenir l'ensemble des actions de <strong>Vues d'en Bas</strong>.

            .col-xs-10.col-xs-offset-1.hidden-xs.hidden-sm#donation_explain_text_for_md_screen
              =render "shared/explanation_text_for_md_screen"

          .col-xs-12.col-md-6
            %h2 MES COORDONNÉES
            %div
              = label_tag :email, "* Email"
              = text_field_tag :email, nil, placeholder: "ex. julien.dupont@gmail.com", :class => "details_field"
            .company_bloc
              %span= check_box_tag :company
              = label_tag :company, "Je fais un don au nom d'une organisation ou d'une société", :class => "company_label"
            .gender_bloc
              %p * Civilité
              = radio_button_tag :gender, "Female"
              = label_tag :gender_Female, "Madame"
              = radio_button_tag :gender, "Male"
              = label_tag :gender_Male, "Monsieur"
            .firstname_bloc
              = label_tag :firstname, "* Prénom"
              = text_field_tag :firstname, "", :class => "details_field"
            .lastname_bloc
              = label_tag :lastname, "* Nom de famille"
              = text_field_tag :lastname, "", :class => "details_field"
            .address_bloc
              = label_tag :address, "Adresse postale"
              = text_field_tag :address, "", :class => "details_field"
            .additional_address_bloc
              = label_tag :additional_address_details, "Complément d'adresse"
              = text_field_tag :additional_address_details, "", :class => "details_field"
            .col-xs-5.zip_n_city
              = label_tag :zipcode, "Code postale"
              = text_field_tag :zipcode
            .col-xs-7.zip_n_city
              = label_tag :city, "Ville"
              = text_field_tag :city, "", :class => "details_field"
            .country_bloc
              = label_tag :country, "Pays"
              = country_select("", :country, selected: "FR")
            = image_submit_tag "buttons/valider.png", class: "img-responsive valider"
            .col-xs-12.asterisk_bloc
              %i Les champs marqués d'un <strong>*</strong> sont obligatoires

          =render "shared/explanation_text_for_xs_screen"