%section
  .container
    .row
      #errors_display_block.col-xs-12
        -if @adherent.errors.any?
          -@adherent.errors.each do |x, y|
            %p=("#{y}")
      .details_form
        = form_for @adherent, html:{id: "payment-form"} do |f|
          .col-xs-12
            %p.payment-errors
          .col-xs-12.col-md-6
            %h2 MON MONTANT
            .col-xs-12.col-md-10.col-md-offset-1.subscription_bloc
              .col-xs-1
                =image_tag("black_dot.png")
              .col-xs-11.jadhere_h3_col
                %h3.jadhere_h3 J'ADHÈRE POUR 1 AN
              = f.fields_for :subscriptions do |subscription|
                .col-xs-12.subscription_bloc
                  = subscription.label :subscription_checkbox, "17€", id: "subscription_checkbox_label", :class => "css_anomaly"
                  = subscription.check_box :subscription_checkbox, checked: "checked", id: "subscription_checkbox", :class => "css_anomaly"
                  = subscription.label :subscription_amount, "Montant libre", id: "subscription_input_label", :class => "css_anomaly"
                  = subscription.text_field :subscription_amount, :class => "subscription_input css_anomaly", type: "number"
                  %span €
                  
                  .card_number_bloc
                    = label_tag :card_number, "* Numéro de carte"
                    = text_field_tag :card_number, "", :class => "details_field card_number_input", :"data-stripe" => "number"
                  .cvc_number_bloc
                    = label_tag :cvc, "* Cryptogramme", :class => "cvc_label"
                    = text_field_tag :cvc, "", :class => "cvc_input", :"data-stripe" => "cvc", size: "4"
                  .expiration_bloc
                    %div= label_tag :expiration_month, "* Date d'expiration"
                    = select_month(Date.today, {use_month_names: %w(Janvier Février Mars Avril Mai Juin Juillet Août Septembre Octobre Novembre Décembre)}, html_options = {:"data-stripe" => "exp-month"})
                    = select_year(Date.today, {start_year: Time.now.year, end_year: Time.now.year + 30}, html_options = {:"data-stripe" => "exp-year"})

                  %p{id: "subscription_amount_text"} Le montant de l'adhésion est de 17€ minimum
                  %p.subscription_text En donnant chaque année, je deviens membre et donateur de <strong>Vues d'en Bas pour une durée de 1 an</strong> et adhère à ses valeurs. Je recevrai ma carte de membre par courrier électronique.

            .col-xs-10.col-xs-offset-1.hidden-xs.hidden-sm#adherent_explain_text_for_md_screen
              =render "shared/explanation_text_for_md_screen"

          .col-xs-12.col-md-6
            %h2 MES COORDONNÉES
            %div
              = label_tag :email, "* Email"
              %span{id: "suggested_bloc"}
                %span Did you mean
                %a{href: "#", id: "suggestedEmail"}
                %span  ?
              = f.text_field :email, placeholder: "ex. julien.dupont@gmail.com", :class => "user_email details_field"
            .company_bloc
              %span= f.check_box :company
              = label_tag :company, "Je fais un don au nom d'une organisation ou d'une société", :class => "company_label"
            .gender_bloc
              %p * Civilité
              = f.radio_button :gender, "Female", :class => "css_anomaly"
              = label_tag :gender_Female, "Madame", :class => "css_anomaly"
              = f.radio_button :gender, "Male", :class => "css_anomaly"
              = label_tag :gender_Male, "Monsieur"
            .firstname_bloc
              = label_tag :adherent_firstname, "* Prénom"
              = f.text_field :firstname, :class => "user_firstname details_field"
            .lastname_bloc
              = label_tag :adherent_lastname, "* Nom de famille"
              = f.text_field :lastname, :class => "user_lastname details_field"
            .address_bloc
              = label_tag :address, "Adresse postale"
              = f.text_field :address, :class => "details_field"
            .additional_address_bloc
              = label_tag :additional_address_details, "Complément d'adresse"
              = f.text_field :additional_address_details, :class => "details_field"
            .col-xs-5.zip_n_city
              = label_tag :zipcode, "Code postale"
              = f.text_field :zipcode
            .col-xs-7.zip_n_city
              = label_tag :city, "Ville"
              = f.text_field :city, :class => "details_field"
            .country_bloc
              = label_tag :country, "Pays"
              = f.country_select :country, selected: "FR"
            = f.submit type: "image", src: image_path("buttons/valider.png"), alt: "Valider", class: "img-responsive valider"
            .col-xs-12.asterisk_bloc
              %i Les champs marqués d'un <strong>*</strong> sont obligatoires

          =render "shared/explanation_text_for_xs_screen"