%section
  .container
    .row
      #details_form
        = form_for @adherent do |f|
          .col-xs-12.col-md-5.col-md-offset-1
            %h2 MON MONTANT
            %h3 J'ADHÈRE POUR 1 AN
            = f.fields_for :subscriptions do |subscriptions_form|
              = subscriptions_form.label :subscription_amount
              = subscriptions_form.text_field :subscription_amount
            %p En donnant chaque année, je deviens membre et donateur de Vues d'en Bas pour une durée de 1 an et adhère à ses valeurs. Je recevrai ma carte de membre par courrier électronique.

          .col-xs-12.col-md-5
            %h2 MES COORDONNÉES
            %div= label_tag(:email, "Email")
            %div= f.text_field :email
            %span= f.check_box(:company)
            = label_tag(:company, "Je fais un don au nom d'une organisation ou d'une société")
            %div Civilité
            = f.radio_button(:gender, "Female")
            = label_tag(:gender_Female, "Madame")
            = f.radio_button(:gender, "Male")
            = label_tag(:gender_Male, "Monsieur")
            %div= label_tag(:firstname, "Prénom")
            %div= f.text_field :firstname
            %div= label_tag(:lastname, "Nom de famille")
            %div= f.text_field :lastname
            %div= label_tag(:address, "Adresse postale")
            %div= f.text_field :address
            %div= label_tag(:additional_address_details, "Complément d'adresse")
            %div= f.text_field :additional_address_details
            .col-xs-5
              %div= label_tag(:zipcode, "Code postale")
              %div= f.text_field :zipcode
            .col-xs-7
              %div#city= label_tag(:city, "Ville")
              %div= f.text_field :city
            %div#country= label_tag(:country, "Pays")
            %div= f.country_select(:country, priority_countries: ["FR","GB", "DE"])
            %div= f.submit "Adhérer"

          .col-xs-12.col-md-5.col-md-offset-1
            %p VOS DONS  servirons à financer les Maraudes, l'achat de vêtements, de nourriture, de fournitures pour les personnes sans abris, les frais liés aux évènements artistiques (Hors vernissages), les frais de l'association qui ne compte pas d'employés (bénévoles uniquement).
            %br
            %p Vos coordonnées sont nécessaires au traitement de vos dons. Elles restent strictement confidentielles et ne sont ni échangées ni louées à des tiers. 
            Conformément à la loi informatique et Libertés du 6 janvier 1978, vos disposez en vous adressant au siège de Vues d'en Bas, d'un droit d'accès, de rectification et d'opposition aux informations vous concernant. 